<div>
  <div appHelloWorld="Hello World!">
    Click here to be greeted
  </div>
  <p>
  <div myGA="checkout">Click to trigger GA event</div>
  <p>
  <button appToggle="details" appToggleClass="hidden">Toggle it!</button>
  <div appToggleable="details">
    Now you see me
  </div>
</div>
