<div>
  <h1>05 - Data Binding</h1>
  <h2>Interpolation</h2>
  <app-demo-interpolation></app-demo-interpolation>
  <h2>Interpolation context</h2>
  <app-demo-interpolation-context></app-demo-interpolation-context>
  <h2>@Input</h2>
  <app-demo-input-parent></app-demo-input-parent>
  <h2>@Output</h2>
  <app-demo-output-parent></app-demo-output-parent>
  <h2>Two-way</h2>
  <app-demo-two-way-parent></app-demo-two-way-parent>
  <h2>NgFor gotcha</h2>
  <app-demo-ng-for-parent></app-demo-ng-for-parent>
  <h2>TODO List</h2>
  <app-todo></app-todo>
  <h2>Exercise 1 - Countdown</h2>
  <!-- <app-countdown [to]="aBitLater"></app-countdown> -->
  <h2>Exercise 2 - Game of Life</h2>
  <app-game-of-life></app-game-of-life>
</div>
