<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Intro <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['helloWorld']">Hello World</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Component <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['shoppingCart']">Shopping Cart</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Input/Output <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['clickCounter']">Click Counter</a></li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['todo']">Todo</a></li>
              <li><a [routerLink]="['login']">Login Form</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>Angular Workshop Demo App</footer>
