<header>
</header>
<main>
  <div>
    Working:
    <div appHelloWorld="Hello World!">
      appHelloWorld="Hello World!"
    </div>
    <div [appHelloWorld]="'Hello World!'">
      [appHelloWorld]="'Hello World!'"
    </div>
    <div [appHelloWorld]="message">
      [appHelloWorld]="message"
    </div>

    Not working:
    <!-- <div [appHelloWorld]="Hello World!">
      [appHelloWorld]="Hello World!"
    </div> -->
    <p>
    <div appGA="Store,checkout,3-Month Subscription,1">Click to trigger GA event</div>
    <p>
    <button appToggle="details">Toggle it!</button>
    <div appToggleable="details" appToggleableClass="hidden">
      Now you see me
    </div>
  </div>
</main>
<footer>Angular Workshop Demo App</footer>
