<div>
  <h1>Built-in Directives</h1>
  <h2>ShoppingCart</h2>
  <app-shopping-cart></app-shopping-cart>
  <h2>Showcase</h2>
  <app-showcase></app-showcase>
  <h2>GameOfLife</h2>
  <!-- <app-game-of-life></app-game-of-life> -->
</div>
