<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Component <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['helloWorld']">Hello World</a></li>
              <li><a [routerLink]="['shoppingCart']">Shopping Cart</a></li>
              <li><a [routerLink]="['clickCounter']">Click Counter</a></li>
              <li><a [routerLink]="['todo']">Todo</a></li>
              <li><a [routerLink]="['login']">Login Form</a></li>
              <li role="separator" class="divider"></li>
              <li><a>Message of the Day</a></li>
              <li><a>Chess Board</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Service <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['leaderboard1']">Leaderboard 1</a></li>
              <li><a [routerLink]="['leaderboard2']">Leaderboard 2</a></li>
            </ul>
          </li>
          <li><a [routerLink]="['directive']">Directive Showcase</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Promises <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['todo2']">Todo</a></li>
              <li role="separator" class="divider"></li>
              <li><a>Leaderboard</a></li>
            </ul>
          </li>
          <li><a>RxJS</a></li>
          <li><a [routerLink]="['games']">Games</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>Angular Workshop Demo App</footer>
