<main>
  <h1>Angular - Service</h1>
  <h2>Leaderboard1</h2>
  <app-leaderboard></app-leaderboard>
  <h2>Leaderboard2</h2>
  <app-leaderboard-index2></app-leaderboard-index2>
  <h2>Leaderboard3</h2>
  <app-leaderboard-index3></app-leaderboard-index3>
</main>
<footer>Angular Workshop Demo App</footer>
